@charset "utf-8";
/*
*	section_styles.css
*	Controls sections and body appearance
*
*
*	Kameron Dangleben
*	Chris Capaldi
*	Sam Fisher
*
*	IST 411
*	4/25/21
*/

iframe { /* Iframe sizing */
  height:auto;
  max-width: 100%;
	display:block;
  resize: both;
  overflow: hidden;
	min-width: 320px;
	min-height:600px;
}

 section#news{ /* Blue news header */
	color:white;
	background-color:#26aceb;padding:15px;text-align:center;
 }
body{ 
	background-color: black;
	font-family:verdana;
	color:white;
}

section#game{ /* Center square  */
	color:white;
	background-color:#383636;padding:15px;text-align:center;outline:3px solid black;outline-offset:-3px;margin-top:7px;
}


